ion-content {
  &[fullscreen="true"] {
    background-color: rgb(17, 17, 16); // Cambiar el color de fondo a beige
    padding: 20px; // Espaciado interior

    ion-card {
      margin-bottom: 20px; // Espacio entre tarjetas

      ion-card-header {
        background-color: #040404; // Fondo del encabezado de la tarjeta
        ion-card-title {
          color: #0f0f0f; // Color del título de la tarjeta
          font-size: 1.2rem; // Tamaño de fuente del título de la tarjeta
          font-weight: bold; // Negrita
        }
      }

      ion-card-content {
        p {
          color: #333; // Color del texto del contenido de la tarjeta
          line-height: 1.6; // Espaciado entre líneas
        }

        ion-img {
          max-width: 100%; // Ajustar imagen al ancho de la tarjeta
          height: 200px; // Altura fija para las imágenes
          object-fit: cover; // Ajustar la imagen dentro del contenedor sin distorsionarla
          border-radius: 10px; // Bordes redondeados para la imagen
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra suave
        }
      }
    }
  }
}
